/* Principal */

html {
    background-color: #ece2e2;
}

main {
    max-width: 955px;
    min-width: 300px;
    margin: auto;
    border:1px solid #ddd; 
    background-color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
}

header img {
    max-width: 955px;
    min-width: 300px;
}

/* Navegação */

nav {
    max-width: 955px; 
    min-width: 320px;
    background-color: #764212 ;
}

nav ul { 
    list-style:none; 
    margin:0; 
    padding: 5px;
}

nav ul li { 
    display:inline-block ;
}

nav ul li a { 
    font-size: 0.90em; 
    text-decoration: none; 
    color: #FFF; 
    padding: 5px 30px ;
}

nav ul li a:hover { 
    background-color: #9B948E ;
}

/* article Imagens */

article { 
    float:left; 
    margin:30px 20px;
    width:600px ;
}

article header h1 {
    margin:0;
}

article p img {
    border: 1px solid #c55939;
}

/* Section Imagem */

section img {
    border: 1px solid #c55939;
    background-size: cover;
}

/* Footer */

footer { 
    clear:both; 
    width:700px; 
    margin:0 auto; 
    font-size:0.75em; 
    text-align:center; 
    background-color:#dfd7d7; 
    padding:5px ;
}

/* Imagem Mapa */

#map { 
    float:right; 
    width:300px; 
    margin-top:30px ;
    margin: auto;
}